<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <% if session[:user_id] %>
    <%user = User.find(session[:user_id]) %>
    <h5><a href=<%="/user/#{user.id}"%>>Welcome <%= user.email%>
      : <a href=<%="/logout"%>>LogOut</a></a></h5>
  <% else %>

    <h5><a href="/login">LogIn</a></h5>
  <% end %>

  <%= yield %>
<h5><a href="/">HOME</a></h5>
</body>
</html>
