<div class="container">
  <h1>LogIn</h1>

<form id="login" action="/" method="POST">
    
    <h3>Welcome</h3>
    <label for="user_email">Email:</label>
    <input type="text" name="user_email" placeholder="your@email.com"><br><br>
    <label for="user_password">Password:</label>
    <input input type="password" name="user_password" placeholder="*******"><br><br>
    <input type="submit" name='Submit'><br>
</form>

<form id="signup" action="/" method="POST">
    <h3>Create a User</h3>
    <label for="user_email">Email:</label>
    <input type="text" name="new_user_email" placeholder="your@email.com"><br><br>
    <label for="user_password">Password:</label>
    <input input type="password" name="new_user_password" placeholder="*******"><br><br>
    
    <input type="submit" name='Submit'><br>
</form>

</div>
