<div class="container">
  <h1><%= @user.email %></h1>

  <h3>All Posts</h3>
 
  <ol>
    <% @user.posts.each do |post|%>
    <li><a class="post_title" href=<%=post.url%> > <%= post.title%></a><br><a class="comment_link" href=<%="/item/#{post.id}"%> >Comments</a></li>
    <%end%>
  </ol>
  
</div>
